<% content_for :top_content do %>
<% end %>

<div class="jumbotron">
  <div class="container">
    <div class="text-center">
      <h1>Welcome <%= @user.name %>!</h1>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-8">
  <div class="media">
    <% avatar_url = @user.avatar_url(64) %>
    <% if avatar_url %>
      <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
      <% end %>
    <div class="media-body">
      <h2 class="media-heading"><%= @user.name %></h2>
      <small>
        <strong><%= @user.role %></strong> / <%= pluralize(@user.wikis.count, 'wiki') %>
      </small>
    </div>
  </div>
</div>
</div>
<br />

<% if @user.standard? %>
  <div class="row">
    <div class="col-lg-8" "pull-right">
      <h4 class="text-muted">Upgrade your account now to become a Wiki Collaborator!</h4>
      <p>
        <%= link_to 'Upgrade', new_charge_path, class: 'btn btn-primary btn-sm' %>
      </p>
    </div>
  </div>
  <br />
<% end %>

<% if @user.premium? %>
  <div class="row">
    <div class="col-lg-8" "pull-right">
      <h4 class="text-muted">If you no longer want to be a Wiki Collaborator, downgrade your account here.</h4>
      <p>
        <%= link_to 'Downgrade', charge_path(1), method: :destroy, class: 'btn btn-primary btn-sm' %>
      </p>  </div>
  </div>
  <br />
<% end %>


<h2>Wikis</h2><br />
  <div>
    <%= render @user.wikis %> <br />
  </div>
